In [2]:
"""Preprocessing of Bakery Sales Dataset"""

'Preprocessing of Bakery Sales Dataset'

In [5]:
"""Load libraries """
import pandas as pd
from pandas import read_csv
import datetime as dt

In [15]:
sales = read_csv("src/data/Bakery_Sales.csv")

sales.head(2)

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2421 non-null   object
 1   day of week         2420 non-null   object
 2   total               2420 non-null   float64
 3   place               2166 non-null   object
 4   angbutter           1973 non-null   float64
 5   plain bread         857 non-null    float64
 6   jam                 220 non-null    float64
 7   americano           412 non-null    float64
 8   croissant           747 non-null    float64
 9   caffe latte         193 non-null    float64
 10  tiramisu croissant  779 non-null    float64
 11  cacao deep          323 non-null    float64
 12  pain au chocolat    587 non-null    float64
 13  almond croissant    202 non-null    float64
 14  croque monsieur     0 non-null      float64
 15  mad garlic          0 non-null      float64
 16  milk tea            137 non-null    float64
 17  gateau chocolat     196 non-null    float64
 18  pandoro             343 non-null    float64
 19  cheese cake         90 non-null     float64
 20  lemon ade           35 non-null     float64
 21  orange pound        519 non-null    float64
 22  wiener              355 non-null    float64
 23  vanila latte        209 non-null    float64
 24  berry ade           54 non-null     float64
 25  tiramisu            7 non-null      float64
 26  merinque cookies    47 non-null     float64
dtypes: float64(24), object(3)
memory usage: 560.0+ KB

In [39]:
sales.describe()

,total,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,pain au chocolat,...,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,weekday
count,2.420000e+03,1973.000000,857.000000,220.000000,412.000000,747.000000,193.000000,779.000000,323.000000,587.000000,...,343.000000,90.000000,35.000000,519.000000,355.000000,209.000000,54.000000,7.0,47.000000,2421.000000
mean,2.117252e+04,1.636594,1.199533,1.131818,1.245146,1.404284,1.108808,1.213094,1.126935,1.236797,...,1.148688,1.022222,1.085714,1.090559,1.340845,1.153110,1.018519,1.0,1.042553,3.637753
std,2.699727e+04,1.115636,0.510268,0.433617,0.527216,1.027704,0.373016,0.797350,0.393249,0.601598,...,0.499757,0.148231,0.373491,0.306757,0.614692,0.523948,0.136083,0.0,0.204030,1.981663
min,1.280000e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,0.000000
25%,1.580000e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,2.000000
50%,1.850000e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,4.000000
75%,2.300000e+04,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.0,1.000000,5.000000
max,1.293000e+06,11.000000,5.000000,5.000000,5.000000,16.000000,3.000000,14.000000,4.000000,6.000000,...,5.000000,2.000000,3.000000,4.000000,6.000000,4.000000,2.000000,1.0,2.000000,6.000000

In [25]:
# Split first column in date and time and add as feature at the end
dateandtime = sales["datetime"]
sales[["date", "time"]] = dateandtime.str.split(pat = ' ',  n=1, expand = True)

In [29]:
# add weekday column starting from 0 = Monday to 6 = Sunday 
sales['weekday'] = pd.to_datetime(sales['date']).apply(lambda x: x.weekday())

In [38]:
sales.head(10)

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,time,weekday
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-11,15:35,3.0
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2019-07-11,16:10,3.0
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12,11:49,4.0
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,13:19,5.0
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,13:22,5.0
5,2019-07-13 14:54,Sat,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,14:54,5.0
6,2019-07-13 15:08,Sat,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2019-07-13,15:08,5.0
7,2019-07-13 15:09,Sat,14000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,15:09,5.0
8,2019-07-13 15:23,Sat,19100.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,15:23,5.0
9,2019-07-13 16:32,Sat,22300.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,16:32,5.0