In [53]:
"""Preprocessing of Bakery Sales Dataset"""

'Preprocessing of Bakery Sales Dataset'

In [2]:
"""Load libraries """
import pandas as pd
from pandas import read_csv
import datetime as dt
import os

In [3]:
#get you the path your working in
#all relative paths start from this folder
os.getcwd()

'/workspaces/savebread/src/preprocessing'

In [56]:
#read in csv
sales = read_csv("src/data/Bakery_Sales.csv")
sales.head()
#sales.info

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
#read in csv, needs separation by semicolon to read in
weather = read_csv("src/data/Seoul_weather.csv" , sep=";")
weather.head()

,name,datetime,temp,sunrise,sunset,conditions,description,icon
0,Seoul,2019-07-11,22.0,2019-07-11T05:19:33,2019-07-11T19:55:03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain
1,Seoul,2019-07-12,23.8,2019-07-12T05:20:11,2019-07-12T19:54:40,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
2,Seoul,2019-07-13,25.1,2019-07-13T05:20:50,2019-07-13T19:54:15,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain
3,Seoul,2019-07-14,26.0,2019-07-14T05:21:30,2019-07-14T19:53:48,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
4,Seoul,2019-07-15,24.3,2019-07-15T05:22:11,2019-07-15T19:53:19,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain

In [58]:
#read in csv, needs separation by semicolon to read in
holidays = read_csv("src/data/public_holidays.csv", sep=";")
holidays

          Date                           Title             type
0   2019-08-15                  Liberation Day  National holiday
1   2019-09-12                 Chuseok Holiday    Public Holiday
2   2019-09-13                         Chuseok    Public Holiday
3   2019-09-14                 Chuseok Holiday    Public Holiday
4   2019-10-03         National Foundation Day  National holiday
5   2019-10-09        Hangeul Proclamation Day  National holiday
6   2019-12-25                   Christmas Day    Public Holiday
7   2020-01-01                  New Year's Day    Public Holiday
8   2020-01-25                 Seollal Holiday    Public Holiday
9   2020-01-27                 Seollal Holiday    Public Holiday
10  2020-02-14                 Valentine's Day        Observance
11  2020-03-01       Independence Movement Day  National holiday
12  2020-03-20                   March Equinox            Season
13  2020-04-05                       Arbor Day        Observance
14  2020-04-15  National Assembly Election Day    Public Holiday
15  2020-04-30               Buddha's Birthday    Public Holiday
16  2020-05-01                       Labor Day      Bank Holiday
17  2020-05-05                  Children's Day    Public Holiday
18  2020-05-08                    Parents' Day        Observance
19  2020-05-15                   Teacher's Day        Observance

In [59]:
#looking at different ways to get rid of "no a number"-Values
#dropna subset, drops every row where subset-Value is NaN
#dropna(how='all'), drops row if all values are NaN
#dropna(thresh = m), drops row if at least m Values are NaN
#nonan = no not a number (values)
sales_nonan = sales.dropna(subset=['total'])
sales_nonan['total'].isna().sum()
#alternatives, not needed
#sales_nonan2 = sales.dropna(how='all')
#sales_nonan3 = sales.dropna(thresh=5)

0

In [60]:
sales_nonan

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,2020-05-02 11:37,Sat,19500.0,동면,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,2020-05-02 13:45,Sat,15000.0,소양동,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [61]:
sales = sales_nonan
sales_nonan

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,2020-05-02 11:37,Sat,19500.0,동면,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,2020-05-02 13:45,Sat,15000.0,소양동,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [62]:
# Split first column in date and time and add as feature at the end
dateandtime = sales_nonan["datetime"]
sales_nonan[["date", "time"]] = dateandtime.str.split(pat = ' ',  n=1, expand = True)

In [63]:
# add weekday column starting from 0 = Monday to 6 = Sunday 
sales_nonan['weekday'] = pd.to_datetime(sales_nonan['date']).apply(lambda x: x.weekday())

In [64]:
sales_nonan

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,time,weekday
0,2019-07-11 15:35,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-11,15:35,3
1,2019-07-11 16:10,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2019-07-11,16:10,3
2,2019-07-12 11:49,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12,11:49,4
3,2019-07-13 13:19,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,13:19,5
4,2019-07-13 13:22,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,13:22,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,2020-05-02 11:37,Sat,19500.0,동면,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2020-05-02,11:37,5
2416,2020-05-02 11:39,Sat,19800.0,후평 1동,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2020-05-02,11:39,5
2417,2020-05-02 12:15,Sat,14300.0,효자 2동,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,12:15,5
2418,2020-05-02 13:45,Sat,15000.0,소양동,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,13:45,5
2419,2020-05-02 14:45,Sat,24100.0,효자 1동,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2020-05-02,14:45,5

In [65]:
#remove spaces of names

sales_nonan = sales_nonan.rename(columns = {'day of week':'dayofweek'})

#drop datetime and place, only date is important not datetime

sales_inprogress1 = sales_nonan.drop(['datetime','place'], axis=1)

#sales_nonan = sales_inprogress1.dropna(how='all')
#sales_nonan

In [66]:
#convert time in seconds, so its easier to calculate with it
#and set specific times

time_col = sales_nonan['time']
time_col
#time.strptime('00:00:00,000','%I:%M:%S')
def time_in_secs(timestring):
    pt = dt.datetime.strptime(timestring,'%H:%M')
    total_seconds = pt.minute*60 + pt.hour*3600
    return total_seconds

print(time_in_secs('07:00'))
print(time_in_secs('11:00'))
print(time_in_secs('15:00'))
print(time_in_secs('18:00'))
print(time_in_secs('12:00'))

25200
39600
54000
64800
43200

In [67]:
#set daytime borders
#first boarder 11:00 (=25200) which is the starting time
#last boarder is till 18:00 (=64800) end time except 2 ocassions which i dropped
#then i split the time in half 11-15, 15-18

sales_inprogress1['daytime']=time_col
for i in range(len(time_col)):
    if 39600 >= time_in_secs(time_col[i]) >= 25200:
        sales_inprogress1['daytime'][i] = 0
    elif 54000 >= time_in_secs(time_col[i]) > 39600:
        sales_inprogress1['daytime'][i] = 1
    elif 64800 >= time_in_secs(time_col[i]) > 54000:
        sales_inprogress1['daytime'][i] = 2
    else:
        sales_inprogress1['daytime'][i] = 3
    
sales_inprogress1

/tmp/ipykernel_927/2371515038.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_inprogress1['daytime'][i] = 2
/tmp/ipykernel_927/2371515038.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_inprogress1['daytime'][i] = 1
/tmp/ipykernel_927/2371515038.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_inprogress1['daytime'][i] = 3
/tmp/ipykernel_927/2371515038.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_inprogress1['daytime'][i] = 0

,dayofweek,total,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,...,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,time,weekday,daytime
0,Thur,23800.0,1.0,NaN,NaN,1.0,NaN,NaN,3.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-11,15:35,3,2
1,Thur,15800.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2019-07-11,16:10,3,2
2,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12,11:49,4,1
3,Sat,14800.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,13:19,5,1
4,Sat,15600.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,13:22,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,Sat,19500.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-05-02,11:37,5,1
2416,Sat,19800.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,2020-05-02,11:39,5,1
2417,Sat,14300.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,12:15,5,1
2418,Sat,15000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,13:45,5,1
2419,Sat,24100.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2020-05-02,14:45,5,1

In [68]:
#looking if there are rows with morning sales or night sales

important_cols = sales_inprogress1[['weekday','daytime']].copy()

m=0
for i in range(len(important_cols['daytime'])):
    if important_cols['daytime'][i]==0:
        print(i)
        m+=1
print(m)

#1713 11:00 0
#837 23:02 3
#1721 22:13 3



sales_inprogress1.loc[1713]

1713
1

dayofweek                    Wed
total                    14500.0
angbutter                    NaN
plain bread                  NaN
jam                          NaN
americano                    NaN
croissant                    1.0
caffe latte                  NaN
tiramisu croissant           1.0
cacao deep                   NaN
pain au chocolat             NaN
almond croissant             1.0
croque monsieur              NaN
mad garlic                   NaN
milk tea                     NaN
gateau chocolat              NaN
pandoro                      NaN
cheese cake                  NaN
lemon ade                    NaN
orange pound                 NaN
wiener                       NaN
vanila latte                 NaN
berry ade                    NaN
tiramisu                     NaN
merinque cookies             NaN
date                  2020-02-19
time                       11:00
weekday                        2
daytime                        0
Name: 1713, dtype: object

In [69]:
sales_inprogress1

,dayofweek,total,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,...,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,time,weekday,daytime
0,Thur,23800.0,1.0,NaN,NaN,1.0,NaN,NaN,3.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-11,15:35,3,2
1,Thur,15800.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2019-07-11,16:10,3,2
2,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12,11:49,4,1
3,Sat,14800.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,13:19,5,1
4,Sat,15600.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,13:22,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,Sat,19500.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-05-02,11:37,5,1
2416,Sat,19800.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,2020-05-02,11:39,5,1
2417,Sat,14300.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,12:15,5,1
2418,Sat,15000.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,13:45,5,1
2419,Sat,24100.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2020-05-02,14:45,5,1

In [70]:
#dropping the 3 rows with values outside of afternoon/evening
sales_inprogress2 = sales_inprogress1.drop(index = [1713,837, 1721])
#sales_inprogress3 = sales_inprogress2.drop(837)
#sales_inprogress4 = sales_inprogress3.drop(1721)
#sales_inprogress2.head(838)

In [71]:
#drop unnecessary columns

sales_bproducts = sales_inprogress2.drop(['dayofweek', 'time', 'total'], axis=1) #'daytime' #'weekday'
#sales_inprogress2
sales_bproducts

,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,pain au chocolat,almond croissant,...,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,date,weekday,daytime
0,1.0,NaN,NaN,1.0,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-11,3,2
1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2019-07-11,3,2
2,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-12,4,1
3,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2019-07-13,5,1
4,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-13,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2020-05-02,5,1
2416,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2020-05-02,5,1
2417,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,5,1
2418,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,5,1
2419,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2020-05-02,5,1

In [72]:
#rename weather for case_sensitive name
#date needs to be written exactly the same in every merging dataframe

weather.rename(columns = {'datetime' : 'date'}, inplace = True)
weather

,name,date,temp,sunrise,sunset,conditions,description,icon
0,Seoul,2019-07-11,22.0,2019-07-11T05:19:33,2019-07-11T19:55:03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain
1,Seoul,2019-07-12,23.8,2019-07-12T05:20:11,2019-07-12T19:54:40,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
2,Seoul,2019-07-13,25.1,2019-07-13T05:20:50,2019-07-13T19:54:15,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain
3,Seoul,2019-07-14,26.0,2019-07-14T05:21:30,2019-07-14T19:53:48,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
4,Seoul,2019-07-15,24.3,2019-07-15T05:22:11,2019-07-15T19:53:19,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain
...,...,...,...,...,...,...,...,...
294,Seoul,2020-04-30,16.5,2020-04-30T05:37:52,2020-04-30T19:21:10,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day
295,Seoul,2020-05-01,20.5,2020-05-01T05:36:42,2020-05-01T19:22:05,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
296,Seoul,2020-05-02,20.8,2020-05-02T05:35:34,2020-05-02T19:22:59,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day
297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,https://weather.visualcrossing.com/VisualCross...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#rename date because of reasons above
#rename type to get rid of the empty space in the name

holidays.rename(columns = {'Date' : 'date', 'type ': 'type'}, inplace = True)
holidays

          date                           Title              type
0   2019-08-15                  Liberation Day  National holiday
1   2019-09-12                 Chuseok Holiday    Public Holiday
2   2019-09-13                         Chuseok    Public Holiday
3   2019-09-14                 Chuseok Holiday    Public Holiday
4   2019-10-03         National Foundation Day  National holiday
5   2019-10-09        Hangeul Proclamation Day  National holiday
6   2019-12-25                   Christmas Day    Public Holiday
7   2020-01-01                  New Year's Day    Public Holiday
8   2020-01-25                 Seollal Holiday    Public Holiday
9   2020-01-27                 Seollal Holiday    Public Holiday
10  2020-02-14                 Valentine's Day        Observance
11  2020-03-01       Independence Movement Day  National holiday
12  2020-03-20                   March Equinox            Season
13  2020-04-05                       Arbor Day        Observance
14  2020-04-15  National Assembly Election Day    Public Holiday
15  2020-04-30               Buddha's Birthday    Public Holiday
16  2020-05-01                       Labor Day      Bank Holiday
17  2020-05-05                  Children's Day    Public Holiday
18  2020-05-08                    Parents' Day        Observance
19  2020-05-15                   Teacher's Day        Observance

In [74]:
#dummy2_drop = dummy2.drop(['sunrise', 'sunset', 'conditions', 'description', 'Title', 'name', 'total'], axis=1)
#dummy2_drop.rename(columns = {'type ':'type'}, inplace = True)
#dummy2_drop['type'] = dummy2_drop['type'].astype('category').cat.codes
#dummy2_drop

In [75]:
#group after date and daytime and weekday
#sum to summarize all the bakery
#reset_index so date and daytime dont become index_columns

main_bakery = sales_bproducts.groupby(['date','daytime','weekday']).sum().reset_index()
main_bakery

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,1.0,1.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0

In [76]:
holidays

          date                           Title              type
0   2019-08-15                  Liberation Day  National holiday
1   2019-09-12                 Chuseok Holiday    Public Holiday
2   2019-09-13                         Chuseok    Public Holiday
3   2019-09-14                 Chuseok Holiday    Public Holiday
4   2019-10-03         National Foundation Day  National holiday
5   2019-10-09        Hangeul Proclamation Day  National holiday
6   2019-12-25                   Christmas Day    Public Holiday
7   2020-01-01                  New Year's Day    Public Holiday
8   2020-01-25                 Seollal Holiday    Public Holiday
9   2020-01-27                 Seollal Holiday    Public Holiday
10  2020-02-14                 Valentine's Day        Observance
11  2020-03-01       Independence Movement Day  National holiday
12  2020-03-20                   March Equinox            Season
13  2020-04-05                       Arbor Day        Observance
14  2020-04-15  National Assembly Election Day    Public Holiday
15  2020-04-30               Buddha's Birthday    Public Holiday
16  2020-05-01                       Labor Day      Bank Holiday
17  2020-05-05                  Children's Day    Public Holiday
18  2020-05-08                    Parents' Day        Observance
19  2020-05-15                   Teacher's Day        Observance

In [77]:
#merge weather and holidays

bakery_weather = pd.merge(main_bakery, weather, on="date", how='left')
bakery_weather_holidays = pd.merge(bakery_weather, holidays, on="date", how="left")
bakery_weather_holidays

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,merinque cookies,name,temp,sunrise,sunset,conditions,description,icon,Title,type
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,0.0,Seoul,22.0,2019-07-11T05:19:33,2019-07-11T19:55:03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,NaN,NaN
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,Seoul,23.8,2019-07-12T05:20:11,2019-07-12T19:54:40,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,NaN,NaN
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,Seoul,25.1,2019-07-13T05:20:50,2019-07-13T19:54:15,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,NaN,NaN
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,0.0,Seoul,25.1,2019-07-13T05:20:50,2019-07-13T19:54:15,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,NaN,NaN
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,0.0,Seoul,26.0,2019-07-14T05:21:30,2019-07-14T19:53:48,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,0.0,Seoul,16.5,2020-04-30T05:37:52,2020-04-30T19:21:10,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,Buddha's Birthday,Public Holiday
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,Seoul,16.5,2020-04-30T05:37:52,2020-04-30T19:21:10,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,Buddha's Birthday,Public Holiday
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,1.0,Seoul,20.5,2020-05-01T05:36:42,2020-05-01T19:22:05,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,Labor Day,Bank Holiday
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,Seoul,20.5,2020-05-01T05:36:42,2020-05-01T19:22:05,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,Labor Day,Bank Holiday
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,0.0,Seoul,20.8,2020-05-02T05:35:34,2020-05-02T19:22:59,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,NaN,NaN

In [78]:
#drop unncessary columns from weather and holidays

bakery_weather_holidays_dropped = bakery_weather_holidays.drop(['sunrise', 'sunset', 'conditions', 'description', 'Title', 'name'], axis=1)

#bakery_weather_holidays_dropped.head(60)

In [79]:
bakery_weather_holidays_dropped.isna().any()

date                  False
daytime               False
weekday               False
angbutter             False
plain bread           False
jam                   False
americano             False
croissant             False
caffe latte           False
tiramisu croissant    False
cacao deep            False
pain au chocolat      False
almond croissant      False
croque monsieur       False
mad garlic            False
milk tea              False
gateau chocolat       False
pandoro               False
cheese cake           False
lemon ade             False
orange pound          False
wiener                False
vanila latte          False
berry ade             False
tiramisu              False
merinque cookies      False
temp                  False
icon                  False
type                   True
dtype: bool

In [82]:
#holidays into catcodes +1 so its from 0 to 5

bakery_weather_holidays_dropped = bakery_weather_holidays.drop(['sunrise', 'sunset', 'conditions', 'description', 'Title', 'name'], axis=1)
dummy = bakery_weather_holidays_dropped
dummy['type'] = dummy['type'].astype('category').cat.codes
dummy['type'] = dummy['type'] + 1
#dummy.head(60)

In [83]:
#0 = no holiday
#1 = Bank holiday
#2 = National holiday
#3 = Observance
#4 = Public Holiday
#5 = Season

for i in range(len(bakery_weather_holidays_dropped)):
    if bakery_weather_holidays_dropped['type'][i] == "Season":
        print(i)

#bakery_finished2_dropped

In [84]:
dummy

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,temp,icon,type
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,22.0,rain,0
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.8,partly-cloudy-day,0
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,25.1,rain,0
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,25.1,rain,0
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,0.0,4.0,0.0,4.0,0.0,0.0,0.0,26.0,partly-cloudy-day,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,16.5,partly-cloudy-day,4
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,16.5,partly-cloudy-day,4
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1.0,20.5,partly-cloudy-day,1
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.5,partly-cloudy-day,1
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,20.8,partly-cloudy-day,0

In [85]:
#make list with 1 if it is a holiday and 0 if it isnt
#add list to dataframe as column

holiday=[]

for i in range(len(dummy)):
    if dummy['type'][i] !=0:
        holiday.append(1)
    else:
        holiday.append(0)

print(len(holiday))

dummy['holiday']=holiday

dummy

417

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,temp,icon,type,holiday
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,22.0,rain,0,0
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23.8,partly-cloudy-day,0,0
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,25.1,rain,0,0
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,25.1,rain,0,0
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,4.0,0.0,4.0,0.0,0.0,0.0,26.0,partly-cloudy-day,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,1.0,3.0,0.0,0.0,0.0,0.0,16.5,partly-cloudy-day,4,1
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,16.5,partly-cloudy-day,4,1
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,3.0,1.0,0.0,0.0,0.0,1.0,20.5,partly-cloudy-day,1,1
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.5,partly-cloudy-day,1,1
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,1.0,0.0,1.0,1.0,0.0,0.0,20.8,partly-cloudy-day,0,0

In [86]:
#icons into cat.codes

dummy2 = dummy
dummy2['icon'] = dummy2['icon'].astype('category').cat.codes
dummy2

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,temp,icon,type,holiday
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,22.0,2,0,0
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23.8,1,0,0
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,25.1,2,0,0
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,25.1,2,0,0
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,4.0,0.0,4.0,0.0,0.0,0.0,26.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,1.0,3.0,0.0,0.0,0.0,0.0,16.5,1,4,1
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,16.5,1,4,1
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,3.0,1.0,0.0,0.0,0.0,1.0,20.5,1,1,1
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.5,1,1,1
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,1.0,0.0,1.0,1.0,0.0,0.0,20.8,1,0,0

In [87]:
#0 = clear-day
#1 = partly-cloudy-day
#2 = rain
#3 = snow
#4 = wind

for i in range(len(dummy)):
    if dummy['icon'][i] != "rain" and dummy['icon'][i] != "partly-cloudy-day" and dummy['icon'][i] != "clear-day" and dummy['icon'][i] != "snow" and dummy['icon'][i] != "wind":
        print(i)

dummy.iloc[336]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416

date                  2020-03-12
daytime                        1
weekday                        3
angbutter                   16.0
plain bread                  7.0
jam                          1.0
americano                    1.0
croissant                    3.0
caffe latte                  2.0
tiramisu croissant           6.0
cacao deep                   0.0
pain au chocolat             5.0
almond croissant             0.0
croque monsieur              0.0
mad garlic                   0.0
milk tea                     0.0
gateau chocolat              1.0
pandoro                      1.0
cheese cake                  0.0
lemon ade                    0.0
orange pound                 4.0
wiener                       1.0
vanila latte                 2.0
berry ade                    0.0
tiramisu                     0.0
merinque cookies             0.0
temp                         6.7
icon                           4
type                           0
holiday                        0
Name: 336, dtype: object

In [88]:
dummy2.iloc[283]

date                  2020-02-05
daytime                        1
weekday                        2
angbutter                   20.0
plain bread                  6.0
jam                          4.0
americano                    2.0
croissant                    2.0
caffe latte                  1.0
tiramisu croissant           7.0
cacao deep                   1.0
pain au chocolat             2.0
almond croissant             2.0
croque monsieur              0.0
mad garlic                   0.0
milk tea                     0.0
gateau chocolat              2.0
pandoro                      3.0
cheese cake                  1.0
lemon ade                    0.0
orange pound                 1.0
wiener                       3.0
vanila latte                 1.0
berry ade                    0.0
tiramisu                     0.0
merinque cookies             0.0
temp                        -7.2
icon                           3
type                           0
holiday                        0
Name: 283, dtype: object

In [89]:
#rename columns for more precise names

dummy3= dummy2
dummy3.rename(columns = {'icon' : 'weather', 'type': 'h_type'}, inplace = True)
dummy3.isna().sum()

date                  0
daytime               0
weekday               0
angbutter             0
plain bread           0
jam                   0
americano             0
croissant             0
caffe latte           0
tiramisu croissant    0
cacao deep            0
pain au chocolat      0
almond croissant      0
croque monsieur       0
mad garlic            0
milk tea              0
gateau chocolat       0
pandoro               0
cheese cake           0
lemon ade             0
orange pound          0
wiener                0
vanila latte          0
berry ade             0
tiramisu              0
merinque cookies      0
temp                  0
weather               0
h_type                0
holiday               0
dtype: int64

In [90]:
backup_dummy = dummy3
backup_dummy

,date,daytime,weekday,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,...,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies,temp,weather,h_type,holiday
0,2019-07-11,2,3,2.0,0.0,0.0,1.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,22.0,2,0,0
1,2019-07-12,1,4,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,23.8,1,0,0
2,2019-07-13,1,5,4.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,2.0,0.0,0.0,0.0,25.1,2,0,0
3,2019-07-13,2,5,4.0,2.0,0.0,0.0,0.0,0.0,4.0,...,1.0,0.0,1.0,0.0,0.0,0.0,25.1,2,0,0
4,2019-07-14,1,6,14.0,0.0,1.0,3.0,0.0,1.0,8.0,...,4.0,0.0,4.0,0.0,0.0,0.0,26.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,5.0,2.0,0.0,1.0,1.0,0.0,4.0,...,1.0,3.0,0.0,0.0,0.0,0.0,16.5,1,4,1
413,2020-04-30,2,3,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,16.5,1,4,1
414,2020-05-01,1,4,14.0,3.0,0.0,4.0,4.0,1.0,4.0,...,3.0,1.0,0.0,0.0,0.0,1.0,20.5,1,1,1
415,2020-05-01,2,4,1.0,1.0,0.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.5,1,1,1
416,2020-05-02,1,5,4.0,1.0,0.0,1.0,1.0,1.0,3.0,...,1.0,0.0,1.0,1.0,0.0,0.0,20.8,1,0,0

In [91]:
#save columns to delete them and sort them new for a better overview of the dataframe

temp_col = dummy3['temp']
weather_col = dummy3['weather']
h_type_col = dummy3['h_type']
holiday_col = dummy3['holiday']

In [92]:
dummy4 = dummy3.drop(['temp', 'weather', 'h_type', 'holiday'], axis = 1)
dummy4.insert(3, 'holiday', holiday_col)
dummy4.insert(4, 'h_type', h_type_col)
dummy4.insert(5, 'weather', weather_col)
dummy4.insert(6, 'temp', temp_col)

In [93]:
baker_sales_dataset = dummy4
baker_sales_dataset

,date,daytime,weekday,holiday,h_type,weather,temp,angbutter,plain bread,jam,...,gateau chocolat,pandoro,cheese cake,lemon ade,orange pound,wiener,vanila latte,berry ade,tiramisu,merinque cookies
0,2019-07-11,2,3,0,0,2,22.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,2019-07-12,1,4,0,0,1,23.8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-07-13,1,5,0,0,2,25.1,4.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3,2019-07-13,2,5,0,0,2,25.1,4.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,2019-07-14,1,6,0,0,1,26.0,14.0,0.0,1.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2020-04-30,1,3,1,4,1,16.5,5.0,2.0,0.0,...,1.0,1.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0
413,2020-04-30,2,3,1,4,1,16.5,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
414,2020-05-01,1,4,1,1,1,20.5,14.0,3.0,0.0,...,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0
415,2020-05-01,2,4,1,1,1,20.5,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
416,2020-05-02,1,5,0,0,1,20.8,4.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0

In [94]:
#export dataset

export_df = baker_sales_dataset
export_df.to_csv("../data/bakery_sales_dataset_preprocessed.csv")

In [20]:
#bakery_sales_dataset = read_csv('../data/baker_sales_dataset_preprocessed.csv')
#bakery_sales_dataset = bakery_sales_dataset.drop(['Unnamed: 0'],axis=1)
#export_df = bakery_sales_dataset
#export_df.to_csv("../data/bakery_sales_dataset_preprocessed.csv")

In [95]:
#code snippets 

#for i in range(len(dummy2)):
 #   if dummy2['date'][i]=="2019-09-12":
  #      print(i)

#dummy2.iloc[518]
#dummy2['date']=="2019-09-12"
#dummy2.head()

#dummy2_drop = dummy2.drop(['sunrise', 'sunset', 'conditions', 'description', 'Title', 'name', 'total'], axis=1)
#dummy2_drop.rename(columns = {'type ':'type'}, inplace = True)
##dummy2_drop['type'] = dummy2_drop['type'].astype('category').cat.codes
#dummy2_drop

#"type" columns with space (at the end)
#print(dummy2_drop.columns.tolist())